name: Save user contribution and calculate user streak and generate user badge
on:
  workflow_dispatch:
  schedule:
    - cron: "59 9,15,21 * * *"
jobs:
  build:
    environment: main
    runs-on: ubuntu-latest
    container: juancolchete/imagemagickgithubactions:latest
    steps:
      - uses: actions/checkout@v4
      - name: Calculate user streak
        run: |
            chdir /__w/streakCounter/streakCounter
            bash saveContributionCountPerDay.sh $user "${{ secrets.GITHUB_TOKEN }}"
            bash calculateUserStreak.sh $user
            bash generateUserBadge.sh $user
            
      - name: Upload to git
        id: uploadGit
        run: |
          LAST_COMMIT_MSG=$(git log -1 --pretty=%B)
          if [[ `git status --porcelain` ]]; then
            git config --global user.name "juancolchete"
            git config --global user.email "juancolchete@gmail.com"
            git add . 
            git commit -m "upload: $LAST_COMMIT_MSG"
            git push
          else
            echo "no changes to push"
          fi
