name: Save user contribution and calculate user streak and generate user badge
on:
  workflow_dispatch:
jobs:
  build:
    environment: main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
            sudo apt update && sudo apt install imagemagick
      - name: Calculate user streak
        run: |
            while read -r user; 
            do 
              bash saveContributionCountPerDay.sh $user "${{ secrets.GITHUB_TOKEN }}"
              bash calculateUserStreak.sh $user
              bash generateUserBadge.sh $user
            done < <(jq -r '.users' "config/run.json")
            
      - name: Upload to git
        id: uploadGit
        run: |
          LAST_COMMIT_MSG=$(git log -1 --pretty=%B)
          if [[ `git status --porcelain` ]]; then
            git config --global user.name "juancolchete"
            git config --global user.email "juancolchete@gmail.com"
            git add . 
            git commit -m "upload: $LAST_COMMIT_MSG"
            git push
          else
            echo "no changes to push"
          fi
