name: Save user contribution and calculate user streak and generate user badge
on:
  workflow_dispatch:
  schedule:
    - cron: "59 9,15,21 * * *"
jobs:
  build:
    environment: main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # 1. Setup the cache for the apt archive directory
      - name: Cache Apt Archives
        id: cache-apt
        uses: actions/cache@v4
        with:
          path: /var/cache/apt/archives
          # Key includes the OS to ensure compatibility
          key: ${{ runner.os }}-apt-imagemagick
    
      # 2. Install ImageMagick
      # apt will check the cache dir first. If the .deb is there, it skips download.
      - name: Install ImageMagick
        run: |
          sudo apt-get update
          sudo apt-get install -y imagemagick
          sudo rm -f /var/cache/apt/archives/lock
          sudo chmod -R 777 /var/cache/apt/archives
      - name: Calculate user streak
        run: |
            while read -r user; 
            do 
              bash saveContributionCountPerDay.sh $user "${{ secrets.GITHUB_TOKEN }}"
              bash calculateUserStreak.sh $user
              bash generateUserBadge.sh $user
            done < <(jq -r '.users[]' "config/run.json")
            
      - name: Upload to git
        id: uploadGit
        run: |
          LAST_COMMIT_MSG=$(git log -1 --pretty=%B)
          if [[ `git status --porcelain` ]]; then
            git config --global user.name "juancolchete"
            git config --global user.email "juancolchete@gmail.com"
            git add . 
            git commit -m "upload: $LAST_COMMIT_MSG"
            git push
          else
            echo "no changes to push"
          fi
