name: Save user contribution and calculate user streak
on:
  workflow_dispatch:
jobs:
  build:
    environment: main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Calculate user streak
        run: |
            bash saveContributionCountPerDay.sh juancolchete "${{ secrets.GITHUB_TOKEN }}"
      - name: Upload to git
        id: uploadGit
        run: |
          LAST_COMMIT_MSG=$(git log -1 --pretty=%B)
          if [[ `git status --porcelain` ]]; then
            git config --global user.name "juancolchete"
            git config --global user.email "juancolchete@gmail.com"
            git add . 
            git commit -m "upload: $LAST_COMMIT_MSG"
            git push
          else
            echo "no changes to push"
          fi
